:host {
    display: block;
    height: 100%;
}

.caawt-footer {
    display: inline;
    font-size: var(--slds-g-font-scale-neg-1, 0.75rem);
    line-height: 1.4167;
}

.caawt-num {
    color: var(--slds-g-color-palette-green-40, #2e844a);
    font-weight: var(--slds-g-font-weight-6, 600);
}

.caawt-label {
    color: var(--slds-g-color-on-surface-1, #5c5c5c);
    font-weight: var(--slds-g-font-weight-4, 400);
}
