.theme-switcher {
    bottom: 0;
    right: 0;
    z-index: 1;
}

.theme-switcher__backdrop {
    position: fixed;
    inset: 0;
    z-index: 2;
}

.theme-switcher__card-wrapper {
    --slds-c-card-color-border: var(--slds-g-color-border-1);
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-bottom: var(--slds-g-spacing-1, 0.25rem);
    z-index: 3;
    min-width: 22rem;
}

.theme-switcher__card {
    box-shadow: var(--slds-g-shadow-4);
}
